.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.card-link{
    font-weight: normal !important;
}
.proba{
    background-color: lightgray !important;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: #d1aa68;
}

a:hover {
    color: #1b89d6;
}

a:active {
    color: #1b89d6;
}

ul {
    list-style: none;
}

.border-none {
    border: 0;
}

.text-primary {
    color: darkgray !important;
}

.text-secondary {
    color: #9cdedb !important;
}
.text-light{
    color: #d1aa68 !important;
}